config/
backups/
.fabric/
.bobby/
.replay_cache/
coremods/
crash-reports/
data/
defaultconfigs/
Distant_Horizons_server_data/
essential/
figura/
logs/
moddata/
mods-backup/
mods-local/
mods-temp/
ModTranslations/
not-enough-crashes/
replay_recordings/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
skins/
syncmatics/
video/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
deaths.dat
irisUpdateInfo.json
realms_persistence.json
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
chesttracker/
mods/.index/
